[Desktop Entry]
Encoding=UTF-8
Name=Logos
Comment=Logos P2P Cryptocurrency
Exec=/usr/bin/logos-qt %u
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/logos128.png
MimeType=x-scheme-handler/bitcoin;
Categories=Office;
Name[en_US]=logos-qt.desktop
